//include index.html
doctype html
html(lang="en")

head
    title= pageTitle
body
    h1 Jade - index
    #container
        p This is a paragraph
    block indexcontent

    include testchild

    #new
        p test 2
    //include template/template_global_js.jade
    //script(src="/lib/angular/angular.min.js")
    
    include template_global_js