//include index.html
extends ./testchild.jade
//extends ./template_global_js.jade

doctype html
html(lang="en")

head
    title= pageTitle
body
    h1 Jade - index
    #container
        p This is a paragraph
    block test

    block content

    #new
        p test 2
    //include template/template_global_js.jade
    //script(src="/lib/angular/angular.min.js")
    block globaljs